<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
</head>
<body>
    <center><h1>IBM Cognos Analysis</h1>
    <h2>Dashboard</h2>
    <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FFinancial_Independence_dashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018837b1bd43_00000002" width="1250" height="800" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>  
    <h2>Story</h2>
    <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2Ffinancial_final_story2&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model000001883a6a65d2_00000000&amp;sceneTime=1150" width="1250" height="800" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>    <h2>Report</h2>
    <iframe src="https://us3.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2Ffinal_finance_report&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;format=HTML&amp;prompt=false" width="1250" height="800" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </center>
</body>
</html>